In [6]:
import pandas as pd
import numpy as np
import json
import csv

In [2]:
import csv
import re

# Función para eliminar comas dentro de comillas dobles
def remove_commas_inside_quotes(match):
    return match.group(0).replace(',', '')

# Abre el archivo CSV de entrada para lectura
with open('data.csv', newline='') as csvfile:
    reader = csv.reader(csvfile)

    # Abre un nuevo archivo CSV de salida para escritura
    with open('temp.csv', 'w', newline='') as outfile:
        writer = csv.writer(outfile)

        # Itera a través de las filas del archivo CSV de entrada
        for row in reader:
            cleaned_row = []

            for col in row:
                # Utiliza una expresión regular para encontrar y reemplazar comas dentro de comillas dobles
                col = re.sub(r'"[^"]*"', remove_commas_inside_quotes, col)
                cleaned_row.append(col)

            # Escribe la fila limpiada en el nuevo archivo CSV
            writer.writerow(cleaned_row)

In [3]:
df = pd.read_csv("temp.csv", quoting=3, delimiter=',')
df['RegionID'] = df['RegionID'].str.replace('"', '')
df['2023-09-30'] = df['2023-09-30'].str.replace('"', '')
df

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,2000-01-31,2000-02-29,...,2022-12-31,2023-01-31,2023-02-28,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30
0,6181,0,New York,city,NY,NY,"""""New York-Newark-Jersey City NY-NJ-PA""""",Queens County,235550.865783,236804.424224,...,766114.299684,758639.432137,750293.716377,744028.500725,741488.700670,741298.029783,741575.186820,740691.052946,738808.063960,736313.5257440308
1,12447,1,Los Angeles,city,CA,CA,"""""Los Angeles-Long Beach-Anaheim CA""""",Los Angeles County,218478.462978,218809.263155,...,917738.108781,909361.782857,896369.374432,882461.605958,876081.262969,876382.820293,882061.422058,893109.207983,908239.630462,923738.792608541
2,39051,2,Houston,city,TX,TX,"""""Houston-The Woodlands-Sugar Land TX""""",Harris County,100297.874172,100272.391119,...,263598.270805,262339.689966,260951.807833,259995.173694,259678.538399,259938.917731,260804.865892,261741.416701,262693.207077,263147.0213747357
3,17426,3,Chicago,city,IL,IL,"""""Chicago-Naperville-Elgin IL-IN-WI""""",Cook County,142248.510678,142286.515196,...,281841.615699,280705.561433,279762.083842,279583.337973,280432.022116,281427.291609,282528.653860,283803.630992,285605.577895,287336.5433278507
4,6915,4,San Antonio,city,TX,TX,"""""San Antonio-New Braunfels TX""""",Bexar County,96933.250693,97023.242072,...,263605.281058,262968.454602,261889.926088,260698.838480,259680.449184,259450.993070,259759.812867,259982.077074,260117.225529,259674.78769057614
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21609,39180,30116,Jumpertown,city,MS,MS,"""""Tupelo MS""""",Prentiss County,NaN,NaN,...,135453.605402,132839.122698,131152.357006,129908.935871,130695.981121,132497.402291,133492.813038,133304.185529,131701.084409,130994.81933954668
21610,51728,30116,Dollar Bay,city,MI,MI,"""""Houghton MI""""",Houghton County,NaN,NaN,...,134724.201721,135689.852329,135965.144386,136688.659351,137724.874016,139966.935716,141591.333188,142175.541803,143084.647012,143749.60775170705
21611,4769,30116,Fort Howard,city,MD,MD,"""""Baltimore-Columbia-Towson MD""""",Baltimore County,NaN,NaN,...,293710.858689,293370.556142,293425.355035,294938.132483,296705.704439,299505.067783,302015.306707,304143.433657,305960.946402,307104.07451697835
21612,25149,30116,Hoisington,city,KS,KS,"""""Great Bend KS""""",Barton County,NaN,NaN,...,71533.605468,70315.760828,69226.802449,68891.552242,69542.746246,70367.143758,71123.721859,72459.774970,74394.262507,76691.66193374431
21613,32723,30116,Martin City,city,MT,MT,"""""Kalispell MT""""",Flathead County,NaN,NaN,...,536631.309563,525973.699711,515175.280487,507648.340853,507115.810545,509812.378592,514814.563366,519315.881641,522392.707983,524061.15752373403

In [4]:
city_info_columns = df.columns[0:8]
city_info_data = df[city_info_columns]
city_info_data

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName
0,6181,0,New York,city,NY,NY,"""""New York-Newark-Jersey City NY-NJ-PA""""",Queens County
1,12447,1,Los Angeles,city,CA,CA,"""""Los Angeles-Long Beach-Anaheim CA""""",Los Angeles County
2,39051,2,Houston,city,TX,TX,"""""Houston-The Woodlands-Sugar Land TX""""",Harris County
3,17426,3,Chicago,city,IL,IL,"""""Chicago-Naperville-Elgin IL-IN-WI""""",Cook County
4,6915,4,San Antonio,city,TX,TX,"""""San Antonio-New Braunfels TX""""",Bexar County
...,...,...,...,...,...,...,...,...
21609,39180,30116,Jumpertown,city,MS,MS,"""""Tupelo MS""""",Prentiss County
21610,51728,30116,Dollar Bay,city,MI,MI,"""""Houghton MI""""",Houghton County
21611,4769,30116,Fort Howard,city,MD,MD,"""""Baltimore-Columbia-Towson MD""""",Baltimore County
21612,25149,30116,Hoisington,city,KS,KS,"""""Great Bend KS""""",Barton County
21613,32723,30116,Martin City,city,MT,MT,"""""Kalispell MT""""",Flathead County

In [10]:
city_info_data.to_csv('data_city_clean.csv', index=False, header=True)

In [11]:
city_info_data_year = city_info_data.copy()
list_df = []
city_info_data_year['Year']=2000
aux = city_info_data_year.copy()

for i in range(1, 24):
    aux['Year'] = 2000 + i
    list_df.append(aux.copy())

list_df.insert(0, city_info_data_year)

city_info_data_year = pd.concat(list_df, ignore_index=True)

city_info_data_year

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,Year
0,6181,0,New York,city,NY,NY,"""""New York-Newark-Jersey City NY-NJ-PA""""",Queens County,2000
1,12447,1,Los Angeles,city,CA,CA,"""""Los Angeles-Long Beach-Anaheim CA""""",Los Angeles County,2000
2,39051,2,Houston,city,TX,TX,"""""Houston-The Woodlands-Sugar Land TX""""",Harris County,2000
3,17426,3,Chicago,city,IL,IL,"""""Chicago-Naperville-Elgin IL-IN-WI""""",Cook County,2000
4,6915,4,San Antonio,city,TX,TX,"""""San Antonio-New Braunfels TX""""",Bexar County,2000
...,...,...,...,...,...,...,...,...,...
518731,39180,30116,Jumpertown,city,MS,MS,"""""Tupelo MS""""",Prentiss County,2023
518732,51728,30116,Dollar Bay,city,MI,MI,"""""Houghton MI""""",Houghton County,2023
518733,4769,30116,Fort Howard,city,MD,MD,"""""Baltimore-Columbia-Towson MD""""",Baltimore County,2023
518734,25149,30116,Hoisington,city,KS,KS,"""""Great Bend KS""""",Barton County,2023
518735,32723,30116,Martin City,city,MT,MT,"""""Kalispell MT""""",Flathead County,2023

In [12]:
date_columns = df.columns[8:]  # Suponiendo que las columnas de fecha comienzan en la posición 8
date_data = df[date_columns]

In [13]:
# Separar en csv por años
list_df_year = []
for i in range(0, 24):
    date_data_columns = date_data.columns[12*i:12*(i+1)]
    date_data_year = date_data[date_data_columns]
    list_df_year.append(date_data_year.copy())
    
list_df_year[23].insert(9, '2023-12-31', np.NaN)
list_df_year[23].insert(9, '2023-11-31',np.NaN)
list_df_year[23].insert(9, '2023-10-31', np.NaN)

IndexError: index 9 is out of bounds for axis 0 with size 0

In [14]:
city_info_data_year.insert(8,'January', np.NaN)
city_info_data_year.insert(9,'February', np.NaN)
city_info_data_year.insert(10,'March', np.NaN)
city_info_data_year.insert(11,'April', np.NaN)
city_info_data_year.insert(12,'May', np.NaN)
city_info_data_year.insert(13,'June', np.NaN)
city_info_data_year.insert(14,'July', np.NaN)
city_info_data_year.insert(15,'August', np.NaN)
city_info_data_year.insert(16,'September', np.NaN)
city_info_data_year.insert(17,'October', np.NaN)
city_info_data_year.insert(18,'November', np.NaN)
city_info_data_year.insert(19,'December', np.NaN)
city_info_data_year

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,January,February,...,April,May,June,July,August,September,October,November,December,Year
0,6181,0,New York,city,NY,NY,"""""New York-Newark-Jersey City NY-NJ-PA""""",Queens County,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000
1,12447,1,Los Angeles,city,CA,CA,"""""Los Angeles-Long Beach-Anaheim CA""""",Los Angeles County,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000
2,39051,2,Houston,city,TX,TX,"""""Houston-The Woodlands-Sugar Land TX""""",Harris County,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000
3,17426,3,Chicago,city,IL,IL,"""""Chicago-Naperville-Elgin IL-IN-WI""""",Cook County,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000
4,6915,4,San Antonio,city,TX,TX,"""""San Antonio-New Braunfels TX""""",Bexar County,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
518731,39180,30116,Jumpertown,city,MS,MS,"""""Tupelo MS""""",Prentiss County,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023
518732,51728,30116,Dollar Bay,city,MI,MI,"""""Houghton MI""""",Houghton County,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023
518733,4769,30116,Fort Howard,city,MD,MD,"""""Baltimore-Columbia-Towson MD""""",Baltimore County,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023
518734,25149,30116,Hoisington,city,KS,KS,"""""Great Bend KS""""",Barton County,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023
518735,32723,30116,Martin City,city,MT,MT,"""""Kalispell MT""""",Flathead County,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023

In [10]:
for i in range(0, len(list_df_year)):
        city_info_data_year.iloc[(0+21614*i):(21614+21614*i), 8:20] = list_df_year[i]

C:\Users\Karla Álvarez\AppData\Local\Temp\ipykernel_7324\3917361983.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['736313.5257440308' '923738.792608541' '263147.0213747357' ...
 '307104.07451697835' '76691.66193374431' '524061.15752373403']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  city_info_data_year.iloc[(0+21614*i):(21614+21614*i), 8:20] = list_df_year[i]

In [11]:
city_info_data_year

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,January,February,...,April,May,June,July,August,September,October,November,December,Year
0,6181,0,New York,city,NY,NY,"""""New York-Newark-Jersey City NY-NJ-PA""""",Queens County,235550.865783,236804.424224,...,240556.835751,243063.186715,245757.193533,248615.026274,251296.514886,253823.724175,256474.238969,259580.573458,262597.705904,2000
1,12447,1,Los Angeles,city,CA,CA,"""""Los Angeles-Long Beach-Anaheim CA""""",Los Angeles County,218478.462978,218809.263155,...,221711.863716,224126.681818,226462.299580,228834.384623,231281.558350,233566.311643,235423.221894,237114.935574,238706.078824,2000
2,39051,2,Houston,city,TX,TX,"""""Houston-The Woodlands-Sugar Land TX""""",Harris County,100297.874172,100272.391119,...,100092.623512,100077.351580,100246.170234,100453.018136,100768.667682,101177.146348,101494.976851,102005.027671,102549.520140,2000
3,17426,3,Chicago,city,IL,IL,"""""Chicago-Naperville-Elgin IL-IN-WI""""",Cook County,142248.510678,142286.515196,...,143560.677358,144735.785100,145990.146258,147128.732486,148552.094402,150084.496737,151876.204936,153900.269208,155861.069874,2000
4,6915,4,San Antonio,city,TX,TX,"""""San Antonio-New Braunfels TX""""",Bexar County,96933.250693,97023.242072,...,97220.016799,96784.424042,96183.310472,95527.100505,95413.013752,95432.629667,95481.812716,95478.764618,95457.809697,2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
518731,39180,30116,Jumpertown,city,MS,MS,"""""Tupelo MS""""",Prentiss County,132839.122698,131152.357006,...,130695.981121,132497.402291,133492.813038,133304.185529,131701.084409,130994.81933954668,NaN,NaN,NaN,2023
518732,51728,30116,Dollar Bay,city,MI,MI,"""""Houghton MI""""",Houghton County,135689.852329,135965.144386,...,137724.874016,139966.935716,141591.333188,142175.541803,143084.647012,143749.60775170705,NaN,NaN,NaN,2023
518733,4769,30116,Fort Howard,city,MD,MD,"""""Baltimore-Columbia-Towson MD""""",Baltimore County,293370.556142,293425.355035,...,296705.704439,299505.067783,302015.306707,304143.433657,305960.946402,307104.07451697835,NaN,NaN,NaN,2023
518734,25149,30116,Hoisington,city,KS,KS,"""""Great Bend KS""""",Barton County,70315.760828,69226.802449,...,69542.746246,70367.143758,71123.721859,72459.774970,74394.262507,76691.66193374431,NaN,NaN,NaN,2023
518735,32723,30116,Martin City,city,MT,MT,"""""Kalispell MT""""",Flathead County,525973.699711,515175.280487,...,507115.810545,509812.378592,514814.563366,519315.881641,522392.707983,524061.15752373403,NaN,NaN,NaN,2023

In [13]:
# 2014 to 2023
city_info_data_year_2015_2023 = city_info_data_year[city_info_data_year['Year'] >= 2015]
city_info_data_year_2015_2023

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,January,February,...,April,May,June,July,August,September,October,November,December,Year
324210,6181,0,New York,city,NY,NY,"""""New York-Newark-Jersey City NY-NJ-PA""""",Queens County,520962.154952,522300.249611,...,525104.639542,527256.244746,529518.190818,532479.330146,536644.463569,542243.931083,548082.118439,553312.430563,558240.937278,2015
324211,12447,1,Los Angeles,city,CA,CA,"""""Los Angeles-Long Beach-Anaheim CA""""",Los Angeles County,511348.960810,513032.117131,...,511864.155118,512034.792787,513345.368059,513133.812371,511046.950982,507277.918835,504182.426067,500867.167464,498018.589847,2015
324212,39051,2,Houston,city,TX,TX,"""""Houston-The Woodlands-Sugar Land TX""""",Harris County,143279.131203,144953.733944,...,147939.416709,149137.180342,150304.123369,151497.329159,152675.227747,153614.133761,154432.373032,155189.458851,156153.270474,2015
324213,17426,3,Chicago,city,IL,IL,"""""Chicago-Naperville-Elgin IL-IN-WI""""",Cook County,206434.567167,206705.923974,...,208073.839946,209412.716057,210404.187314,211497.325115,212193.310596,212986.512491,214169.649331,215552.023178,216960.446798,2015
324214,6915,4,San Antonio,city,TX,TX,"""""San Antonio-New Braunfels TX""""",Bexar County,135981.787331,137257.060541,...,139574.884106,140522.928077,141506.810066,142527.520273,143711.422997,144840.524183,145896.955324,146763.283113,147761.395469,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
518731,39180,30116,Jumpertown,city,MS,MS,"""""Tupelo MS""""",Prentiss County,132839.122698,131152.357006,...,130695.981121,132497.402291,133492.813038,133304.185529,131701.084409,130994.81933954668,NaN,NaN,NaN,2023
518732,51728,30116,Dollar Bay,city,MI,MI,"""""Houghton MI""""",Houghton County,135689.852329,135965.144386,...,137724.874016,139966.935716,141591.333188,142175.541803,143084.647012,143749.60775170705,NaN,NaN,NaN,2023
518733,4769,30116,Fort Howard,city,MD,MD,"""""Baltimore-Columbia-Towson MD""""",Baltimore County,293370.556142,293425.355035,...,296705.704439,299505.067783,302015.306707,304143.433657,305960.946402,307104.07451697835,NaN,NaN,NaN,2023
518734,25149,30116,Hoisington,city,KS,KS,"""""Great Bend KS""""",Barton County,70315.760828,69226.802449,...,69542.746246,70367.143758,71123.721859,72459.774970,74394.262507,76691.66193374431,NaN,NaN,NaN,2023
518735,32723,30116,Martin City,city,MT,MT,"""""Kalispell MT""""",Flathead County,525973.699711,515175.280487,...,507115.810545,509812.378592,514814.563366,519315.881641,522392.707983,524061.15752373403,NaN,NaN,NaN,2023

In [14]:
city_info_data_year_2015_2023.to_csv('data_2015_to_2023.csv', index=False, header=True)

In [12]:
city_info_data_year.to_csv('data_clean.csv', index=True, header=True)

In [1]:
import math

type(math.nan)

float