In [1]:
import pandas as pd
import numpy as np
import json
import csv
import re
import math

In [2]:
# Función para eliminar comas dentro de comillas dobles
def remove_commas_inside_quotes(match):
    return match.group(0).replace(',', '')

# Abre el archivo CSV de entrada para lectura
with open('data2.csv', newline='') as csvfile:
    reader = csv.reader(csvfile)

    # Abre un nuevo archivo CSV de salida para escritura
    with open('temp2.csv', 'w', newline='') as outfile:
        writer = csv.writer(outfile)

        # Itera a través de las filas del archivo CSV de entrada
        for row in reader:
            cleaned_row = []

            for col in row:
                # Utiliza una expresión regular para encontrar y reemplazar comas dentro de comillas dobles
                col = re.sub(r'[^"]*', remove_commas_inside_quotes, col)
                cleaned_row.append(col)

            # Escribe la fila limpiada en el nuevo archivo CSV
            writer.writerow(cleaned_row)

In [14]:
df = pd.read_csv("temp2.csv", quoting=3, delimiter=',')
df

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,2000-01-31,...,2022-12-31,2023-01-31,2023-02-28,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30
0,3101,0,Los Angeles County,county,CA,CA,Los Angeles-Long Beach-Anaheim CA,6,37,208172.788596,...,829502.810854,821242.741172,809771.934361,798850.697690,794995.450197,797207.594955,803503.732566,813903.557266,826811.908041,839780.328951
1,139,1,Cook County,county,IL,IL,Chicago-Naperville-Elgin IL-IN-WI,17,31,146385.155298,...,280494.664766,279775.162247,279405.017697,279727.799914,281175.034995,282702.836685,284417.957941,286321.765242,288618.967790,290539.190184
2,1090,2,Harris County,county,TX,TX,Houston-The Woodlands-Sugar Land TX,48,201,109047.176651,...,282122.217000,280561.789892,278962.267728,277810.413585,277241.447932,277264.124421,277922.424892,278705.849581,279517.195775,279853.296741
3,2402,3,Maricopa County,county,AZ,AZ,Phoenix-Mesa-Chandler AZ,4,13,144001.236955,...,469794.199802,461785.739170,455694.900206,452409.120809,451379.630780,452147.348464,454099.982215,456847.226011,459823.101562,462334.960502
4,2841,4,San Diego County,county,CA,CA,San Diego-Chula Vista-Carlsbad CA,6,73,217703.083159,...,856569.796522,849344.740159,844153.147158,842332.828485,845497.899143,852278.907339,861774.630570,873182.847040,885118.607013,896653.069164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3069,846,3206,Banner County,county,NE,NE,Scottsbluff NE,31,7,NaN,...,309607.876790,302173.541898,294956.505840,290882.066415,293584.363109,298157.986272,302772.781170,307977.389681,313113.572008,317389.495922
3070,1648,3207,Daggett County,county,UT,UT,NaN,49,9,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,318274.936585
3071,1432,3208,Thomas County,county,NE,NE,NaN,31,171,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,139373.434343
3072,2794,3212,McPherson County,county,NE,NE,North Platte NE,31,117,NaN,...,264030.696683,256663.947563,248667.657916,243333.005667,244843.114807,249018.002984,253154.272982,257516.145402,261854.018970,265660.729309
3073,2825,3214,Petroleum County,county,MT,MT,NaN,30,69,NaN,...,195015.687587,191695.548358,188049.073489,186940.396508,189268.949037,193597.713904,197017.394237,198628.544598,198742.988363,198215.963628

In [15]:
#Search for El Dorado County
df = df[df['RegionName'] == 'El Dorado County']
df

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,2000-01-31,...,2022-12-31,2023-01-31,2023-02-28,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30
349,2691,350,El Dorado County,county,CA,CA,Sacramento-Roseville-Folsom CA,6,17,206938.233542,...,651183.94296,643203.156989,636508.079247,633025.850399,634173.242681,637162.17279,641786.696743,646557.828682,651479.802712,654993.544813

In [12]:
# Load JSON data from a file
with open('fips_info.json', 'r') as json_file:
    data = json_file.read()

    # Parse JSON into a Python dictionary
    json_data = json.loads(data)

    # Create a DataFrame from the dictionary
    df_fips = pd.DataFrame(json_data)

df_fips

       fips state          area_name  bachelorsOrHigher
0      1001    AL     Autauga County               21.9
1      1003    AL     Baldwin County               28.6
2      1005    AL     Barbour County               13.6
3      1007    AL        Bibb County               10.2
4      1009    AL      Blount County               12.3
...     ...   ...                ...                ...
3137  56037    WY  Sweetwater County               18.1
3138  56039    WY       Teton County               51.9
3139  56041    WY       Uinta County               18.7
3140  56043    WY    Washakie County               21.2
3141  56045    WY      Weston County               16.8

[3142 rows x 4 columns]

In [23]:
## Merge dataframes by county name

new_df = pd.merge(df, df_fips,  how='left', left_on=['RegionName','StateName'], right_on = ['area_name','state'])

In [24]:
new_df

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,2000-01-31,...,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30,fips,state,area_name,bachelorsOrHigher
0,3101,0,Los Angeles County,county,CA,CA,Los Angeles-Long Beach-Anaheim CA,6,37,208172.788596,...,794995.450197,797207.594955,803503.732566,813903.557266,826811.908041,839780.328951,6037.0,CA,Los Angeles County,29.9
1,139,1,Cook County,county,IL,IL,Chicago-Naperville-Elgin IL-IN-WI,17,31,146385.155298,...,281175.034995,282702.836685,284417.957941,286321.765242,288618.967790,290539.190184,17031.0,IL,Cook County,35.3
2,1090,2,Harris County,county,TX,TX,Houston-The Woodlands-Sugar Land TX,48,201,109047.176651,...,277241.447932,277264.124421,277922.424892,278705.849581,279517.195775,279853.296741,48201.0,TX,Harris County,29.0
3,2402,3,Maricopa County,county,AZ,AZ,Phoenix-Mesa-Chandler AZ,4,13,144001.236955,...,451379.630780,452147.348464,454099.982215,456847.226011,459823.101562,462334.960502,4013.0,AZ,Maricopa County,30.0
4,2841,4,San Diego County,county,CA,CA,San Diego-Chula Vista-Carlsbad CA,6,73,217703.083159,...,845497.899143,852278.907339,861774.630570,873182.847040,885118.607013,896653.069164,6073.0,CA,San Diego County,35.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3069,846,3206,Banner County,county,NE,NE,Scottsbluff NE,31,7,NaN,...,293584.363109,298157.986272,302772.781170,307977.389681,313113.572008,317389.495922,31007.0,NE,Banner County,13.6
3070,1648,3207,Daggett County,county,UT,UT,NaN,49,9,NaN,...,NaN,NaN,NaN,NaN,NaN,318274.936585,49009.0,UT,Daggett County,19.3
3071,1432,3208,Thomas County,county,NE,NE,NaN,31,171,NaN,...,NaN,NaN,NaN,NaN,NaN,139373.434343,31171.0,NE,Thomas County,24.2
3072,2794,3212,McPherson County,county,NE,NE,North Platte NE,31,117,NaN,...,244843.114807,249018.002984,253154.272982,257516.145402,261854.018970,265660.729309,31117.0,NE,McPherson County,25.6
3073,2825,3214,Petroleum County,county,MT,MT,NaN,30,69,NaN,...,189268.949037,193597.713904,197017.394237,198628.544598,198742.988363,198215.963628,30069.0,MT,Petroleum County,18.0

In [25]:
## Drop unnecessary columns
new_df = new_df.drop(['area_name', 'Metro', 'StateCodeFIPS', 'MunicipalCodeFIPS', 'bachelorsOrHigher','state','RegionType'], axis=1)
new_df

,RegionID,SizeRank,RegionName,StateName,State,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,...,2023-01-31,2023-02-28,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30,fips
0,3101,0,Los Angeles County,CA,CA,208172.788596,208408.183266,209277.206699,210997.840626,213186.068837,...,821242.741172,809771.934361,798850.697690,794995.450197,797207.594955,803503.732566,813903.557266,826811.908041,839780.328951,6037.0
1,139,1,Cook County,IL,IL,146385.155298,146355.775799,146596.826106,147289.991228,148177.032960,...,279775.162247,279405.017697,279727.799914,281175.034995,282702.836685,284417.957941,286321.765242,288618.967790,290539.190184,17031.0
2,1090,2,Harris County,TX,TX,109047.176651,109019.180250,108859.004792,108793.138693,108767.369759,...,280561.789892,278962.267728,277810.413585,277241.447932,277264.124421,277922.424892,278705.849581,279517.195775,279853.296741,48201.0
3,2402,3,Maricopa County,AZ,AZ,144001.236955,144294.945649,144683.052217,145480.916044,146360.477660,...,461785.739170,455694.900206,452409.120809,451379.630780,452147.348464,454099.982215,456847.226011,459823.101562,462334.960502,4013.0
4,2841,4,San Diego County,CA,CA,217703.083159,218565.027727,219609.822383,221975.478980,224530.811305,...,849344.740159,844153.147158,842332.828485,845497.899143,852278.907339,861774.630570,873182.847040,885118.607013,896653.069164,6073.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3069,846,3206,Banner County,NE,NE,NaN,NaN,NaN,NaN,NaN,...,302173.541898,294956.505840,290882.066415,293584.363109,298157.986272,302772.781170,307977.389681,313113.572008,317389.495922,31007.0
3070,1648,3207,Daggett County,UT,UT,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,318274.936585,49009.0
3071,1432,3208,Thomas County,NE,NE,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,139373.434343,31171.0
3072,2794,3212,McPherson County,NE,NE,NaN,NaN,NaN,NaN,NaN,...,256663.947563,248667.657916,243333.005667,244843.114807,249018.002984,253154.272982,257516.145402,261854.018970,265660.729309,31117.0
3073,2825,3214,Petroleum County,MT,MT,NaN,NaN,NaN,NaN,NaN,...,191695.548358,188049.073489,186940.396508,189268.949037,193597.713904,197017.394237,198628.544598,198742.988363,198215.963628,30069.0

In [26]:
## Move fips column to the beginning
first_column = new_df.pop('fips')
new_df.insert(3, 'FipsCode', first_column)
new_df

,RegionID,SizeRank,RegionName,FipsCode,StateName,State,2000-01-31,2000-02-29,2000-03-31,2000-04-30,...,2022-12-31,2023-01-31,2023-02-28,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30
0,3101,0,Los Angeles County,6037.0,CA,CA,208172.788596,208408.183266,209277.206699,210997.840626,...,829502.810854,821242.741172,809771.934361,798850.697690,794995.450197,797207.594955,803503.732566,813903.557266,826811.908041,839780.328951
1,139,1,Cook County,17031.0,IL,IL,146385.155298,146355.775799,146596.826106,147289.991228,...,280494.664766,279775.162247,279405.017697,279727.799914,281175.034995,282702.836685,284417.957941,286321.765242,288618.967790,290539.190184
2,1090,2,Harris County,48201.0,TX,TX,109047.176651,109019.180250,108859.004792,108793.138693,...,282122.217000,280561.789892,278962.267728,277810.413585,277241.447932,277264.124421,277922.424892,278705.849581,279517.195775,279853.296741
3,2402,3,Maricopa County,4013.0,AZ,AZ,144001.236955,144294.945649,144683.052217,145480.916044,...,469794.199802,461785.739170,455694.900206,452409.120809,451379.630780,452147.348464,454099.982215,456847.226011,459823.101562,462334.960502
4,2841,4,San Diego County,6073.0,CA,CA,217703.083159,218565.027727,219609.822383,221975.478980,...,856569.796522,849344.740159,844153.147158,842332.828485,845497.899143,852278.907339,861774.630570,873182.847040,885118.607013,896653.069164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3069,846,3206,Banner County,31007.0,NE,NE,NaN,NaN,NaN,NaN,...,309607.876790,302173.541898,294956.505840,290882.066415,293584.363109,298157.986272,302772.781170,307977.389681,313113.572008,317389.495922
3070,1648,3207,Daggett County,49009.0,UT,UT,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,318274.936585
3071,1432,3208,Thomas County,31171.0,NE,NE,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,139373.434343
3072,2794,3212,McPherson County,31117.0,NE,NE,NaN,NaN,NaN,NaN,...,264030.696683,256663.947563,248667.657916,243333.005667,244843.114807,249018.002984,253154.272982,257516.145402,261854.018970,265660.729309
3073,2825,3214,Petroleum County,30069.0,MT,MT,NaN,NaN,NaN,NaN,...,195015.687587,191695.548358,188049.073489,186940.396508,189268.949037,193597.713904,197017.394237,198628.544598,198742.988363,198215.963628

In [27]:
city_info_columns = new_df.columns[0:6]
city_info_data = new_df[city_info_columns]
city_info_data

      RegionID  SizeRank          RegionName  FipsCode StateName State
0         3101         0  Los Angeles County    6037.0        CA    CA
1          139         1         Cook County   17031.0        IL    IL
2         1090         2       Harris County   48201.0        TX    TX
3         2402         3     Maricopa County    4013.0        AZ    AZ
4         2841         4    San Diego County    6073.0        CA    CA
...        ...       ...                 ...       ...       ...   ...
3069       846      3206       Banner County   31007.0        NE    NE
3070      1648      3207      Daggett County   49009.0        UT    UT
3071      1432      3208       Thomas County   31171.0        NE    NE
3072      2794      3212    McPherson County   31117.0        NE    NE
3073      2825      3214    Petroleum County   30069.0        MT    MT

[3074 rows x 6 columns]

In [43]:
#Count each county in RegionName
counties = city_info_data['RegionName'].value_counts()
counties

RegionName
Washington County    30
Jefferson County     25
Franklin County      24
Lincoln County       23
Jackson County       22
                     ..
Venango County        1
Oktibbeha County      1
Columbus County       1
Waupaca County        1
Petroleum County      1
Name: count, Length: 1838, dtype: int64

In [28]:
city_info_data_year = city_info_data.copy()
list_df = []
city_info_data_year['Year']=2000
aux = city_info_data_year.copy()

for i in range(1, 24):
    aux['Year'] = 2000 + i
    list_df.append(aux.copy())

list_df.insert(0, city_info_data_year)

city_info_data_year = pd.concat(list_df, ignore_index=True)

city_info_data_year

       RegionID  SizeRank          RegionName  FipsCode StateName State  Year
0          3101         0  Los Angeles County    6037.0        CA    CA  2000
1           139         1         Cook County   17031.0        IL    IL  2000
2          1090         2       Harris County   48201.0        TX    TX  2000
3          2402         3     Maricopa County    4013.0        AZ    AZ  2000
4          2841         4    San Diego County    6073.0        CA    CA  2000
...         ...       ...                 ...       ...       ...   ...   ...
73771       846      3206       Banner County   31007.0        NE    NE  2023
73772      1648      3207      Daggett County   49009.0        UT    UT  2023
73773      1432      3208       Thomas County   31171.0        NE    NE  2023
73774      2794      3212    McPherson County   31117.0        NE    NE  2023
73775      2825      3214    Petroleum County   30069.0        MT    MT  2023

[73776 rows x 7 columns]

In [33]:
date_columns = new_df.columns[6:]  # Suponiendo que las columnas de fecha comienzan en la posición 8
date_data = new_df[date_columns]

In [34]:
# Separar en csv por años
list_df_year = []
for i in range(0, 24):
    date_data_columns = date_data.columns[12*i:12*(i+1)]
    date_data_year = date_data[date_data_columns]
    list_df_year.append(date_data_year.copy())
    
list_df_year[23].insert(9, '2023-12-31', np.NaN)
list_df_year[23].insert(9, '2023-11-31',np.NaN)
list_df_year[23].insert(9, '2023-10-31', np.NaN)
list_df_year[23]

,2023-01-31,2023-02-28,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30,2023-10-31,2023-11-31,2023-12-31
0,821242.741172,809771.934361,798850.697690,794995.450197,797207.594955,803503.732566,813903.557266,826811.908041,839780.328951,NaN,NaN,NaN
1,279775.162247,279405.017697,279727.799914,281175.034995,282702.836685,284417.957941,286321.765242,288618.967790,290539.190184,NaN,NaN,NaN
2,280561.789892,278962.267728,277810.413585,277241.447932,277264.124421,277922.424892,278705.849581,279517.195775,279853.296741,NaN,NaN,NaN
3,461785.739170,455694.900206,452409.120809,451379.630780,452147.348464,454099.982215,456847.226011,459823.101562,462334.960502,NaN,NaN,NaN
4,849344.740159,844153.147158,842332.828485,845497.899143,852278.907339,861774.630570,873182.847040,885118.607013,896653.069164,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3069,302173.541898,294956.505840,290882.066415,293584.363109,298157.986272,302772.781170,307977.389681,313113.572008,317389.495922,NaN,NaN,NaN
3070,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,318274.936585,NaN,NaN,NaN
3071,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,139373.434343,NaN,NaN,NaN
3072,256663.947563,248667.657916,243333.005667,244843.114807,249018.002984,253154.272982,257516.145402,261854.018970,265660.729309,NaN,NaN,NaN
3073,191695.548358,188049.073489,186940.396508,189268.949037,193597.713904,197017.394237,198628.544598,198742.988363,198215.963628,NaN,NaN,NaN

In [35]:
city_info_data_year.insert(6,'January', np.NaN)
city_info_data_year.insert(7,'February', np.NaN)
city_info_data_year.insert(8,'March', np.NaN)
city_info_data_year.insert(9,'April', np.NaN)
city_info_data_year.insert(10,'May', np.NaN)
city_info_data_year.insert(11,'June', np.NaN)
city_info_data_year.insert(12,'July', np.NaN)
city_info_data_year.insert(13,'August', np.NaN)
city_info_data_year.insert(14,'September', np.NaN)
city_info_data_year.insert(15,'October', np.NaN)
city_info_data_year.insert(16,'November', np.NaN)
city_info_data_year.insert(17,'December', np.NaN)
city_info_data_year

,RegionID,SizeRank,RegionName,FipsCode,StateName,State,January,February,March,April,May,June,July,August,September,October,November,December,Year
0,3101,0,Los Angeles County,6037.0,CA,CA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000
1,139,1,Cook County,17031.0,IL,IL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000
2,1090,2,Harris County,48201.0,TX,TX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000
3,2402,3,Maricopa County,4013.0,AZ,AZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000
4,2841,4,San Diego County,6073.0,CA,CA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73771,846,3206,Banner County,31007.0,NE,NE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023
73772,1648,3207,Daggett County,49009.0,UT,UT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023
73773,1432,3208,Thomas County,31171.0,NE,NE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023
73774,2794,3212,McPherson County,31117.0,NE,NE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023
73775,2825,3214,Petroleum County,30069.0,MT,MT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023

In [38]:
for i in range(0, len(list_df_year)):
        city_info_data_year.iloc[(0+3074*i):(3074 +3074*i), 6:18] = list_df_year[i]

In [39]:
city_info_data_year

,RegionID,SizeRank,RegionName,FipsCode,StateName,State,January,February,March,April,May,June,July,August,September,October,November,December,Year
0,3101,0,Los Angeles County,6037.0,CA,CA,208172.788596,208408.183266,209277.206699,210997.840626,213186.068837,215279.549195,217389.304726,219559.123295,221569.228443,223173.812569,224637.088354,226030.376834,2000
1,139,1,Cook County,17031.0,IL,IL,146385.155298,146355.775799,146596.826106,147289.991228,148177.032960,149103.511138,149959.002438,151169.617301,152579.059106,154276.672972,156204.688186,158092.490073,2000
2,1090,2,Harris County,48201.0,TX,TX,109047.176651,109019.180250,108859.004792,108793.138693,108767.369759,108953.228736,109162.970558,109465.969468,109860.470988,110192.459981,110732.416625,111307.297421,2000
3,2402,3,Maricopa County,4013.0,AZ,AZ,144001.236955,144294.945649,144683.052217,145480.916044,146360.477660,147105.858397,147848.209042,148540.486595,149320.016487,150043.558243,150772.474623,151505.110957,2000
4,2841,4,San Diego County,6073.0,CA,CA,217703.083159,218565.027727,219609.822383,221975.478980,224530.811305,227745.775057,231442.271502,235497.550797,239319.527175,242581.734615,245764.427524,248581.065571,2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73771,846,3206,Banner County,31007.0,NE,NE,302173.541898,294956.505840,290882.066415,293584.363109,298157.986272,302772.781170,307977.389681,313113.572008,317389.495922,NaN,NaN,NaN,2023
73772,1648,3207,Daggett County,49009.0,UT,UT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,318274.936585,NaN,NaN,NaN,2023
73773,1432,3208,Thomas County,31171.0,NE,NE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,139373.434343,NaN,NaN,NaN,2023
73774,2794,3212,McPherson County,31117.0,NE,NE,256663.947563,248667.657916,243333.005667,244843.114807,249018.002984,253154.272982,257516.145402,261854.018970,265660.729309,NaN,NaN,NaN,2023
73775,2825,3214,Petroleum County,30069.0,MT,MT,191695.548358,188049.073489,186940.396508,189268.949037,193597.713904,197017.394237,198628.544598,198742.988363,198215.963628,NaN,NaN,NaN,2023

In [ ]:
# 2014 to 2023
city_info_data2_year_2015_2023 = city_info_data_year[city_info_data_year['Year'] >= 2015]
city_info_data2_year_2015_2023

,RegionID,SizeRank,RegionName,FipsCode,StateName,State,January,February,March,April,May,June,July,August,September,October,November,December,Year
214995,3101,0,Los Angeles County,6037.0,CA,CA,474258.081469,475496.576572,475165.555644,475078.491255,475630.092727,477044.097079,477304.588392,475980.384582,473080.960122,470388.956704,467297.647683,464359.882045,2015
214996,139,1,Cook County,13075.0,IL,IL,191431.996072,191542.243046,191963.410525,192401.198744,193459.895874,194361.784115,195426.407552,196199.910828,196957.450617,198082.963287,199337.077996,200736.855057,2015
214997,139,1,Cook County,17031.0,IL,IL,191431.996072,191542.243046,191963.410525,192401.198744,193459.895874,194361.784115,195426.407552,196199.910828,196957.450617,198082.963287,199337.077996,200736.855057,2015
214998,139,1,Cook County,27031.0,IL,IL,191431.996072,191542.243046,191963.410525,192401.198744,193459.895874,194361.784115,195426.407552,196199.910828,196957.450617,198082.963287,199337.077996,200736.855057,2015
214999,1090,2,Harris County,13145.0,TX,TX,155883.708601,157508.719560,159095.191898,160439.793287,161630.349198,162793.392898,163945.800496,165146.540586,166146.720190,167084.868682,167938.456120,168915.061391,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
343987,1432,3208,Thomas County,31171.0,NE,NE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,139373.434343,NaN,NaN,NaN,2023
343988,2794,3212,McPherson County,20113.0,NE,NE,256663.947563,248667.657916,243333.005667,244843.114807,249018.002984,253154.272982,257516.145402,261854.018970,265660.729309,NaN,NaN,NaN,2023
343989,2794,3212,McPherson County,31117.0,NE,NE,256663.947563,248667.657916,243333.005667,244843.114807,249018.002984,253154.272982,257516.145402,261854.018970,265660.729309,NaN,NaN,NaN,2023
343990,2794,3212,McPherson County,46089.0,NE,NE,256663.947563,248667.657916,243333.005667,244843.114807,249018.002984,253154.272982,257516.145402,261854.018970,265660.729309,NaN,NaN,NaN,2023
343991,2825,3214,Petroleum County,30069.0,MT,MT,191695.548358,188049.073489,186940.396508,189268.949037,193597.713904,197017.394237,198628.544598,198742.988363,198215.963628,NaN,NaN,NaN,2023

In [ ]:
city_info_data2_year_2015_2023.to_csv('city_info_data2_year_2015_2023.csv', index=False, header=True)

In [40]:
city_info_data_year.to_csv('city_info.csv', index=False, header=True)